cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
build/
out/
temp/

.idea/

*.exe
*.dll
*.lib
*.a
*.o
*.out
.vs/
imgui.ini
*.mp3

*.spv
*.json

.DS_Store
Thumbs.db
release/*